body {
  @extend %font-add;
  @include font($size: 0.875rem, $height: 1.063rem, $weight: 400);
  color: $color-light;
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  max-width: 100%;
}

h1 {
  @extend %font-add;
  @include font($size: 36px, $height: 46px, $weight: 500);
  @include media-laptop {
    @include font($size: 48px, $height: 61px, $weight: 500);
  }
}

p {
  @extend %font-prim;
  @include font($size: 14px, $height: 17px, $weight: 400);
  @include media-laptop {
    @include font($size: 24px, $height: 29px, $weight: 400);
  }
}
