%hamburger-line {
  position: absolute;
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: $color-light;
}

.hamburger {
  position: relative;
  width: 28px;
  height: 19px;
  &::before {
    @extend %hamburger-line;
    top: 0;
    right: 0;
    transition: transform 0.4s;
  }
  &::after {
    @extend %hamburger-line;
    bottom: 0;
    right: 0;
    transition: transform 0.4s;
  }
  @include media-tablet {
    display: none;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1.5px);
  right: 0;
  transition: transform 0.3s;
}
