.logo {
  display: inline-block;

  font-family: "Crimson Pro", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;
  text-decoration: none;

  padding: 8px;
  color: inherit;
  border: 1px solid $color-light;
}
