.card {
  box-sizing: border-box;
  position: absolute;
  bottom: -86px;
  right: 11px;
  max-width: 410px;
  max-height: 189px;
  width: 80%;
  background-color: $color-background-dark;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 13px 19px;
  &__hero {
    display: flex;
  }
  &__credentials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 14px;
  }
  &__title {
    @extend %font-prim;
    @include font($size: 0.75rem, $height: 0.9375rem, $weight: 500);
  }
  &__job {
    @extend %font-prim;
    @include font($size: 0.625rem, $height: 0.75rem, $weight: 500);
    color: $color-gray;
  }
  &__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  &__content {
    width: 75%;
    @include font($size: 18px, $height: 23px, $weight: 700);
  }

  @include media-laptop {
    bottom: -75px;
    right: 32px;
  }
}
