.footer {
  flex-shrink: 0;
  width: 100%;
  padding: 24px 0;
  text-align: center;
  &__text {
    @extend %font-prim;
    margin: 0;
    color: $color-gray;
    @include font($size: 14px, $height: 17px, $weight: 500);
  }
  &__link {
    @extend %font-prim;
    color: $color-light-gray;
    @include font($size: 14px, $height: 17px, $weight: 700);
  }
}
