.hero {
  padding: 25px 0;
  &__title {
    margin: 0 0 25px;
    @include media-laptop {
      margin: 0 0 25px;
    }
  }
  &__text {
    @extend %font-prim;
    width: 65%;
    margin: 0;
    @include media-laptop {
      width: 75%;
    }
  }
  &__link {
    @extend %font-prim;
    position: relative;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 25px 0 15px;
    object {
      pointer-events: none;
      width: 24px;
      height: 24px;
      background-image: url("/src/img/iconmonstr-arrow-right-thin.png");
    }
    .ico_next {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding-left: 15px;
      filter: invert(90%) sepia(73%) saturate(2%) hue-rotate(311deg)
        brightness(111%) contrast(101%);
    }
    &:after {
      @include background-right-to-left(3px);
    }
    &:hover:after,
    &:focus:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    @include media-laptop {
      @include font($size: 1.125rem, $height: 1.375rem, $weight: 700);
      padding: 48px 0 25px;
      width: 75%;
    }
  }
}
