.navigation {
  transform: translateY(-1000%);
  position: fixed;
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
  a {
    position: relative;
    color: inherit;
    text-decoration: none;
    margin-left: 5.375rem;
    border: 2px solid $color-background-dark;
    padding: 0.6em 0;
    opacity: 0;
    transform: translateX(-50%);
    @extend %font-prim;
    @include font($size: 1.125rem, $height: 1.375rem, $weight: 500);
    &:after {
      @include background-right-to-left(2px);
    }
    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  @include media-tablet {
    display: flex;
    position: relative;
    transform: translateY(0%);
    li a {
      opacity: 1;
    }
    li:first-child {
      a {
        margin: 0;
      }
    }
  }
}
